<div id="rightSideWrapper">
  <div class="ContentBox" style="display: block;">
     <main>
        <div class="container-fluid custom_search" style="padding: 0px;">
      
  
            <div class="col-lg-12 search_box" style="padding: 0px;color: #117a8b; text-transform: uppercase; line-height: 40px;">
       <h5 > User profile
          <button class="btn btn-outline-danger float-right mb-2 mr-2" style="margin:-12px 0 0 5px" (click)="openSm(deleteprofile)">Delete Profile
              <i class="fa fa-user-plus" aria-hidden="true"></i>
            </button>
        
          <button class="btn btn-outline-warning float-right" style="margin:-12px 0 0 5px" routerLink='/viewProfile/userupdate' >Update Profile
              <i class="fa fa-user-plus" aria-hidden="true"></i>
            </button>

            <button class="btn btn-outline-info float-right" style="margin:-12px 0 0 5px" routerLink='/viewProfile/usercreate' >Create Profile
                <i class="fa fa-user-plus" aria-hidden="true"></i>
              </button> 
          
        </h5>


       <div class="row clearfix">
            <div  style="float:left;">
              <ag-grid-angular 
              style="width: 100%; " 
              class="ag-theme-balham"
              [rowData]="rowData" 
              [columnDefs]="columnDefs"
              >
              </ag-grid-angular>
            </div>
           
          </div>
          <div style="float:right; margin-top: 10px;">
              <strong class="total_page">
                 Page {{pageNo + 1}} of {{totalPages}}
              </strong>

              <!-- <strong class="total_page">
                Page  {{this.filterPage+1}} of {{totalPages}}
              </strong>       
             -->
              <button type="button" id="prev" disabled class="btn btn-info" style="margin-right: 7px;" (click)="previousFuntionality()">Prev</button>

              <button type="button" id="next" class="btn btn-info" (click)="nextFuntionality()" >Next</button>
            </div>
       </div>  
        </div> 


        <ng-template #deleteprofile let-modal let-d="dismiss" class="deleteprofile">

            <div class="modal-header">
    
              <h4 class="modal-title" id="modal-basic-title">Delete Profile</h4>
    
              <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
    
                <span aria-hidden="true">&times;</span>
    
              </button>
    
            </div>
    
    
            <flash-messages></flash-messages>
    
    
            <div class="modal-body">
    
                <div class="user-delete-wrapper">
    
       
                    <div class="delete_section">
                    <label style="margin-top: 5px;">User Profiles:</label>
                    <div class="roleValue">
                      <select class="form-control form-control-sm"  [(ngModel)]="selectedrole">
                        <option [selected]="Select == 'Select'" [ngValue]="select" selected>Select</option>
                        <option *ngFor="let role of dropdownData">{{role}}</option>
                      </select>
                    </div>
                    <button type="button" id="deleteProfile" class="btn btn-outline-danger margin_5t" (click)="deleteProfile()">Delete</button>
                  </div>
          
                </div>
    
            </div>
    
            <div class="modal-footer">
    
    
              
    
            </div>
    
          </ng-template>
     </main>
  </div>
</div>  



