<div id="rightSideWrapper">
  <div class="ContentBox">
    <main>
     
      <h5 class="border_btm">User Update</h5>
      <router-outlet></router-outlet>
      <flash-messages></flash-messages>
      
      <div class="userProfile" style="font-size:12px">
        <div class="row clearfix">
        </div>


        <!-- Mapping User Profile dropdown  -->
        <div class="row clearfix">
          <label>User Profiles:</label>
          <div class="roleValue">
            <select class="form-control form-control-sm" (change)="mainSubMenu()" [(ngModel)]="selectedrole">
              <option [selected]="Select == 'Select'" [ngValue]="select" selected>Select</option>
              <option *ngFor="let role of dropdownData">{{role}}</option>
            </select>
          </div>
        </div>

        <div class="row clearfix">
          <div class="col-lg-6" style="float:left">
            <ag-grid-angular #agGrid style="width: 100%; height: 100%;" id="myGrid" class="ag-theme-balham"
              [columnDefs]="columnDefs" [rowSelection]="rowSelection" [rowData]="rowData"
              (selectionChanged)="onSelectionChanged($event)" (gridReady)="onGridReady($event)"
              (rowClicked)='onRowClicked($event)'></ag-grid-angular>
          </div>
          <div class="col-lg-6" style="float:left">
            <ag-grid-angular #agGrid style="width: 100%; height: 100%;" id="myGrid" class="ag-theme-balham"
              [columnDefs]="columnDefsMultiple" [rowSelection]="rowSelectionMultiple" [rowMultiSelectWithClick]="true"
              [rowData]="rowDataMultiple" (gridReady)="onGridReadyMultiple($event)"
              (rowClicked)='onRowClickedSubmenu($event)'></ag-grid-angular>
          </div>
        </div>
        <div class="row clearfix">
          <div class="col-lg-12" style="text-align:center;padding:2px">
            
            <button type="button" id="updateMapping" class="btn btn-info" style="margin-right:10px" (click)="updateValues()">Update</button>

          </div>
        </div>
      </div>
    </main>
  </div>
</div>