<div id="rightSideWrapper">
  <div class="ContentBox" style="display: block;">
    <main>
      <!-- Subscription Number: {{subscription_no}} -->
     
    


  <h5 style="border-bottom: 2px solid #117a8b !important;color: #117a8b; text-transform: uppercase; margin-top: -10px;padding: 0 0 10px 0;" >
    Subscription Number: {{subscription_no}} 
      <button type="button" id="activrBtn" class="btn btn-success" style=" margin-left: 5px; line-height:17px; margin-top:-2px;">
      Active
    </button>
    <button type="button" class="btn btn-danger" style="margin-left: 5px; line-height:17px; margin-top: -2px;">
      Cancelled
    </button>
    <button type="button" class="btn btn-warning" style="margin-left: 5px; line-height:17px; margin-top: -2px;">
      On-Hold
    </button>
    
    <button  class="btn btn-outline-warning float-right" style="margin:0 0 0 5px">
        Edit 
    <!-- <i _ngcontent-c3="" aria-hidden="true" class="fa fa-user-plus"></i> -->
  </button>
  <button  class="btn btn-outline-danger float-right" style="margin:0 0 0 5px">
      Cancel 
  <!-- <i _ngcontent-c3="" aria-hidden="true" class="fa fa-user-plus"></i> -->
</button>
  <button  class="btn btn-outline-info float-right" style="margin:0px 0 0 5px">
    More 
    <!-- <i _ngcontent-c3="" aria-hidden="true" class="fa fa-sellsy"></i> -->
  </button></h5>




  <div class="row">
    <div class="col-lg-3">
      <div class="row">
        <div class="col-lg-12 brd">

          <div style="width: 100%; display: table; min-height: 100px;">
            <div style="width: 100%; display: table-cell; vertical-align: middle;">
              <p>{{c_name}}</p>
              <strong>{{email}}</strong>
            </div>
          </div>

<!-- 
            <h5 class="detail_list_heading">asdasdasd</h5>
            <ul class="detail_list">
              <li><span>asdd</span></li>
              <li><span>efwef</span></li>
              <li><span>wefwefwef</span></li>
            </ul> -->

            <h5 class="detail_list_heading">Billing Address</h5>
            <ul class="detail_list">
                <li><span>asdd</span></li>
                <li><span>efwef</span></li>
                <li><span>wefwefwef</span></li>
              </ul>

              <h5 class="detail_list_heading">Shipping Address</h5>
              <ul class="detail_list">
                  <li><span>asdd</span></li>
                  <li><span>efwef</span></li>
                  <li><span>wefwefwef</span></li>
                </ul>

                <h5 class="detail_list_heading">Payment Details</h5>
                <ul class="detail_list">
                    <li><span>asdd</span></li>
                    <li><span>efwef</span></li>
                    <li><span>wefwefwef</span></li>
                  </ul>
                  <p><a href="#">asdfsdafsdf</a>  |  <a href="#">sddssdsd</a></p>
        </div>
      </div>
    </div>


    <div class="col-lg-9">
        <div class="row mng">
          <div class="col-lg-12">
            
              <div class="row">
                  <div class="col-lg-3 upper_content">
                    <strong>Subscription Amount</strong>
                    <span>asdasdasd</span>
                  </div>
                  <div class="col-lg-3 upper_content">
                      <strong>Next Billing Date</strong>
                      <span>asdasdasd</span>
                    </div>
                    <div class="col-lg-3 upper_content">
                        <strong>Last Billing Date</strong>
                        <span>asdasdasd</span>
                    </div>
                    <div class="col-lg-3 upper_content">
                        <strong>Cancel Date</strong>
                        <span>asdasdasd</span>
                    </div>


                    <div class="col-lg-12">
                        <table class="table">
                            <thead>
                              <tr>
                                <th>Plan & Add On Details</th>
                                <th>Qty</th>
                                <th>Email</th>
                                <th>Tax</th>
                                <th>Amount</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td>John</td>
                                <td>Doe</td>
                                <td>john@example.com</td>
                                <td></td> <td></td>
                              </tr>
                              <tr>
                                <td>Mary</td>
                                <td>Moe</td>
                                <td>mary@example.com</td><td></td> <td></td>
                              </tr>
                              <tr>
                                <td>July</td>
                                <td>Dooley</td>
                                <td>july@example.com</td><td></td> <td></td>
                              </tr>
                            </tbody>
                          </table>
                    </div>
                    <div class="col-lg-12" style="border-top:1px solid #bababa; border-bottom: 1px solid #bababa; width: 100%;">
                      <p style="text-align: right; margin:0px;" >Total <span style="display: inline-block; margin-left:10px; font-weight:bold;">234234234</span></p>
                    </div>
                   
                    <div class="col-lg-12" >
                      <div class="col-lg-4">
                        <p style="text-align: left;" >Total <span style=" float: right; text-align: right;"><a href="#">ererer</a></span></p>
              
                        <p>jhadjhavsdjhvasdjhvasjhdvasjhdv</p>
                        <p style="text-align: right; font-style: italic;">awdasdsadsad</p>
                      </div>
                     
                    </div>
                </div>

               



          </div>
        </div>
      </div>
  </div>
    </main>
  </div>
</div>
