<div id="rightSideWrapper">
   <div class="ContentBox" style="display: block;">
      <main>
         <h5 style="border-bottom: 2px solid #117a8b !important;color: #117a8b; text-transform: uppercase; margin-top: -10px;padding: 0 0 10px 0;" >
            Subscription Number: {{subscription_no}} 
            <div [ngSwitch]="status" style="width:auto; display:inline-block;">
               <div *ngSwitchCase="'ACTIVE'" style="width:auto; display:inline-block;"> 
                  <button type="button" id="activrBtn" class="btn btn-success" style=" margin-left: 5px; line-height:17px; margin-top:-2px;">
                  Active
                  </button>  
               </div>
               <div *ngSwitchCase="'CANCELLED'" style="width:auto; display:inline-block;">
                  <button type="button" class="btn btn-danger" style="margin-left: 5px; line-height:17px; margin-top: -2px;">
                  Cancelled
                  </button>
               </div>
               <div *ngSwitchCase="'ONHOLD'" style="width:auto; display:inline-block;">
                  <button type="button" class="btn btn-warning" style="margin-left: 5px; line-height:17px; margin-top: -2px;">
                  On-Hold
                  </button>
               </div>
            </div>
            <button  class="btn btn-outline-warning float-right" style="margin:0 0 0 5px">
            Edit 
            </button>
            <button  class="btn btn-outline-danger float-right" style="margin:0 0 0 5px" (click)="open(addUser)">
            Cancel 
            </button>
            <button  class="btn btn-outline-info float-right" style="margin:0px 0 0 5px">
            More 
            </button>
         </h5>
         <div class="row" style="border-bottom: 1px solid #bababa;">
            <div class="col-lg-3">
               <div class="row" >
                  <div class="col-lg-12 brd">
                     <div style="width: 100%; display: inline-block; ">
                        <div style="width: 100%; display: inline-block; vertical-align: middle; padding:10px 0px;">
                           <strong style="color:#117a8b; text-transform:uppercase;">{{c_name}}</strong>
                           <p style="margin:0px;">{{email}}</p>
                        </div>
                     </div>
                     <h5 class="detail_list_heading">Billing Address</h5>
                     <ul class="detail_list">
                        <li><span>{{billingCity}}</span></li>
                        <li><span>{{billinfCountry}}</span></li>
                        <li><span>{{billingLine1}} {{billingLine2}}</span></li>
                        <li><span>{{billingstate}}</span></li>
                        <li><span>{{billingzipcode}}</span></li>
                     </ul>
                     <h5 class="detail_list_heading">Shipping Address</h5>
                     <ul class="detail_list">
                        <li><span>{{shippingCity}}</span></li>
                        <li><span>{{shippingCountry}}</span></li>
                        <li><span>{{shippingLine1}} {{shippingLine2}}</span></li>
                        <li><span>{{shippingstate}}</span></li>
                        <li><span>{{shippingzipcode}}</span></li>
                     </ul>
                     <h5 class="detail_list_heading">Payment Details</h5>
                     <ul class="detail_list">
                     </ul>
                     <p><a href="javascript:void(0);">asdfsdafsdf</a>  |  <a href="javascript:void(0);">sddssdsd</a></p>
                  </div>
               </div>
            </div>
            <div class="col-lg-9">
               <div class="row mng">
                  <div class="col-lg-12">
                     <div class="row">
                        <div class="col-lg-3 upper_content">
                           <strong>Subscription Amount</strong>
                           <span>{{totalAmount}}</span>
                        </div>
                        <div class="col-lg-3 upper_content">
                           <strong>Next Billing Date</strong>
                           <span>{{nextBillingDate}} </span>
                        </div>
                        <div class="col-lg-3 upper_content">
                           <strong>Last Billing Date</strong>
                           <span>{{lastBillDate}} </span>
                        </div>
                        <div [ngSwitch]="status" class="col-lg-3 upper_content">
                           <div *ngSwitchCase="'ACTIVE'" style="width:auto; display:inline-block;">
                              <div *ngIf="renewsForever; else elseBlock">
                                 <strong>Renews Forever</strong>
                                 <span> &infin; </span>                  
                              </div>
                              <ng-template #elseBlock>
                                 <div>
                                    <strong>Renewals Remaining</strong>
                                    <span>{{remainingCycles}} </span>   
                                 </div>
                              </ng-template>
                           </div>
                           <div *ngSwitchCase="'CANCELLED'" style="width:auto; display:inline-block;">                  
                              <strong>Cancel Date</strong>
                              <span>{{cancelDate}}</span>                  
                           </div>
                           <div *ngSwitchCase="'ONHOLD'" style="width:auto; display:inline-block;">                 
                              <strong>Renews Forever</strong>
                              <span> </span>                  
                           </div>
                        </div>
                        <div class="col-lg-12">
                           <table class="table table-bordered table-sm">
                              <thead class="thead-dark">
                                 <tr>
                                    <th>Plan & Add On Details</th>
                                    <th>Qty</th>
                                    <th>Rate</th>
                                    <th>Tax</th>
                                    <th>Amount</th>
                                 </tr>
                              </thead>
                              <tbody>
                                 <tr  *ngFor="let values of productPlanArr">
                                    <td>{{values.productName}}<br /> <span style="font-style:italic;">{{values.rateplanDesc}}</span></td>
                                    <td>{{values.quantity}}</td>
                                    <td>{{values.rate}}</td>
                                    <td>{{values.tax}}</td>
                                    <td>{{values.quantity * values.rate}}</td>
                                 </tr>
                              </tbody>
                           </table>
                        </div>
                        <div class="col-lg-12" style="border-top:1px solid #bababa; border-bottom: 1px solid #bababa; width: 100%;">
                           <p style="ext-align: right;margin: 0px;font-weight: bold;text-transform: uppercase;
    margin: 0 0 0 -4px;font-size: 13px;text-align: right;" >Total <span style="display: inline-block; margin-left:10px; font-weight:bold;">{{total}}</span></p>
                        </div>
                        <div class="col-lg-12" > 
                                  <div [ngSwitch]="status" style="width:100%; display:inline-block;">
                                      <div *ngSwitchCase="'ACTIVE'" style="width:100%; display:inline-block;">                                
                                        <p>There are no notes added for this subscription</p>
                                        <p style="text-align:right;"><a href="javascript:void(0);">Add Note </a></p>                                        
                                      </div>
                                      <div *ngSwitchCase="'CANCELLED'" style="width:auto; display:inline-block;">
                                        <p style="text-align: left;" >Notes <span style=" float: right; text-align: right;"><a href="javascript:void(0);">+ADD</a></span></p>
                                        <p>This is note from sales agent</p>
                                        <p style="text-align: right; font-style: italic;">-UserName</p>
                                      </div>
                                      <div *ngSwitchCase="'ONHOLD'" style="width:auto; display:inline-block;">
                                         <p>There are no notes added for this subscription</p>
                                        <p style="text-align:right;"><a href="javascript:void(0);">Add Note </a></p>
                                      </div>
                                </div>
                              
                         
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>

  <ng-template #addUser let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Cancel popup</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

      <flash-messages></flash-messages>
    
  <div class="modal-body">
    <form>
    <label><input type="radio" name="indoor-outdoor" (click)="radioFunction('Immidiate Cancel')" checked> Immidiate Cancel</label><br/>
    <label><input type="radio" name="indoor-outdoor" (click)="radioFunction('Cancel from next billing cycle')" disabled> Cancel from next billing cycle</label><br>     
    </form>
  </div>
  <div class="modal-footer">     
    <button type="button" class="btn btn-info" (click)="open(confirmationPopup);modal.close('Save click')">Yes, Cancel</button>
    <button type="button" class="btn btn-info" (click)="modal.close('Save click')">Close</button>
  </div>
</ng-template>

<ng-template #confirmationPopup let-modal >

  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Confirmation Popup</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
   <flash-messages></flash-messages>    
  <div class="modal-body">
    <form>
      <p> Do you want to save your changes</p>
    </form>
  </div>
  <div class="modal-footer">     
    <button type="button" class="btn btn-info" (click)="cancelSubscription()">Yes</button>
    <button type="button" class="btn btn-info" (click)="modal.close('Save click')">No</button>
    <!-- <button type="button" class="btn btn-info" (click)="modal.close('Save click')">Close</button> -->
  </div>
 
</ng-template>

      </main>
   </div>
</div>