<div id="rightSideWrapper">

  <div class="ContentBox">

    <main >

     

      <div class="container-fluid custom_search" style="padding: 0px;">

        <div class="col-lg-12 search_box" style="padding: 0px;color: #117a8b; text-transform: uppercase; line-height: 40px;">

          <h5 *ngIf="isValid()">Products
            <button class="btn btn-outline-info float-right" style="margin:-12px 0 0 5px" (click)="open(addUser)">Add Product
              <i class="fa fa-user-plus" aria-hidden="true"></i>
            </button>

            <button class="btn btn-outline-danger float-right" style="margin:-12px 0 0 5px" (click)="moveToAssociatePlan()">Associate Plans
              <i class="fa fa-sellsy" aria-hidden="true"></i>
            </button>
          </h5>

          <router-outlet></router-outlet>
     
          <!-- <div class="row headerStrip" *ngIf="isValid()">

<button class="btn btn-info" style="margin:3px" (click)="open(addUser)">Add</button>

<button class="btn btn-info " style="margin:3px" >Associate Plans</button>

</div> -->

          <div *ngIf="isValid()" class="col-lg-12" style="border:2px solid #bababa; border-radius: 5px; padding:0px 10px; text-transform: none; margin-top:0px;">

            <form action="#">

              <div class="row">

                <div class="col-lg-3">

                  <div class="form-group">

                    <label for="username">Name:</label>

                    <input type="text" class="form-control form-control-sm" id="username_product" name="name" [(ngModel)]="nameMain">

                  </div>

                </div>

                <div class="col-lg-3">

                  <div class="form-group">

                    <label for="code">Product Type:</label>

                    <select class="form-control form-control-sm"  id="code_product" name="code"  [(ngModel)]="codeMain" (change)="dropDownsearchProduct(codeMain)">

                        <option [ngValue]="Select" selected>Select</option>
    
                        <option *ngFor="let values of DrodownArray">{{values.productType}}</option>
    
    
                      </select>

                    

                  </div>

                </div>

                <div class="col-lg-3">

                  <div class="form-group">

                    <label for="sku">SKU:</label>

                    <input type="text" class="form-control form-control-sm" id="sku_product" name="sku" [(ngModel)]="skuMain">

                  </div>

                </div>

                <div class="col-lg-3">

                  <div class="form-group">

                    <label for="status">Status:</label>

                    <select class="form-control form-control-sm" id="status_product" name="status_val"
                      [(ngModel)]="status_valMain">
                      <option [selected]="Select == 'Select'" [ngValue]="select" selected>select</option>
                      <option *ngFor="let values of DrodownArraystatus">{{values}}</option>


                    </select>

                  </div>

                </div>

              </div>





              <div class="row">

                <div class="col-lg-3">

                  <div class="form-group">

                    <label for="dateOfBirth">Start Date:</label>

                    <div class="input-group">

                      <input id="startDateId" readonly class="form-control" placeholder="DD-MM-YYYY" name="startDate" [(ngModel)]="startDateMain"
                        ngbDatepicker (click)="startdate.toggle()" #startdate="ngbDatepicker">

                      <div class="input-group-append">

                        <button class="btn btn-outline-secondary calendar" (click)="startdate.toggle()" type="button">

                          <i class="fa fa-calendar fa-2" aria-hidden="true"></i>

                        </button>

                      </div>

                    </div>

                  </div>

                </div>

                <div class="col-lg-3">

                  <div class="form-group">

                    <label for="dateOfBirth"> End Date:</label>

                    <div class="input-group">

                      <input id="endDateId" readonly class="form-control" placeholder="DD-MM-YYYY" name="endDate" [(ngModel)]="endDateMain" ngbDatepicker
                        (click)="enddate.toggle()" #enddate="ngbDatepicker">

                      <div class="input-group-append">

                        <button class="btn btn-outline-secondary calendar" (click)="enddate.toggle()" type="button">

                          <i class="fa fa-calendar fa-2" aria-hidden="true"></i>

                        </button>

                      </div>

                    </div>

                  </div>

                </div>

                

                <div class="col-lg-6">

                  <label style="width: 100%;"></label>

                  <button type="button" id="searchBtn" class="btn btn-info float-right" style=" margin-left: 5px; line-height:17px;" (click)="exportToCsv()">

                    Export to Csv
                    <i class="fa fa-cloud-download" aria-hidden="true"></i>

                  </button>

                  <button type="button" id="searchBtn" class="btn btn-info float-right" style=" margin-left: 5px; line-height:17px;" (click)="filterSearch(nameMain,skuMain,status_valMain,startDateMain,endDateMain)">

                    Search

                    <i class="fa fa-search" aria-hidden="true" style="color:#ffffff;margin-top: -4px;margin-left: 5px; "></i>

                  </button>

                  <button type="button" id="searchBtn" class="btn btn-info float-right" style=" margin-left: 5px; line-height:17px;" (click)="resetValues(nameMain,skuMain,status_valMain,startDateMain,endDateMain,codeMain)">
                      
                      Reset 
                      <i class="fa fa-refresh " aria-hidden="true"></i>
                      <!-- <i class="fa fa-search" aria-hidden="true" style="color:#ffffff;margin-top: -4px;margin-left: 5px; "></i> -->
  
                    </button>

                  <!-- <button class="btn btn-info" style="margin-top: 41px;">Search <i class="fa fa-search" aria-hidden="true" style="color:#ffffff;margin-top: -4px;margin-left: 5px; "></i>

</button> -->


                </div>

              </div>


            </form>

          </div>

        </div>



        <div *ngIf="isValid()" id="productGrid" style="position: relative;">

          <div style="height: 100%; padding-top: 63px; box-sizing: border-box; width: auto;">

            <!-- <button class="btn btn-info" (click)="openModal('addUser')">Add User</button> -->

            <ag-grid-angular #agGrid style="width: 100%; height: 100%;" id="myGrid" class="ag-theme-balham" [rowSelection]="rowSelection"
              [rowGroupPanelShow]="rowGroupPanelShow" [pivotPanelShow]="pivotPanelShow" [enableRangeSelection]="true"
              [defaultColDef]="defaultColDef" [suppressRowClickSelection]="true" [rowSelection]="rowSelection" 
              [enableSorting]="true" [enableFilter]="true" [rowData]="rowData" [columnDefs]="columnDefs"
              (gridReady)="onGridReady($event)" [frameworkComponents]="frameworkComponents" [animateRows]="true">

            </ag-grid-angular>

            <div style="float:right; margin-top: 10px;">
              <strong *ngIf="!filterSearchFlag" class="total_page">
                 Page {{this.page+1}} of {{totalPages}}
              </strong>

              <strong *ngIf="filterSearchFlag" class="total_page">
                Page  {{this.filterPage+1}} of {{totalPages}}
              </strong>
             

              
              <button type="button" id="prev" disabled class="btn btn-info" style="margin-right: 7px;" (click)="previousFuntionality()">Prev</button>

              <button type="button" id="next" class="btn btn-info" (click)="nextFuntionality()" >Next</button>
            </div>
         


          </div>

        </div>

      </div>






      <ng-template #addUser let-modal let-d="dismiss">

        <div class="modal-header">

          <h4 class="modal-title" id="modal-basic-title">Add Product</h4>

          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')"  (click)="emptyValues()">

            <span aria-hidden="true">&times;</span>

          </button>

        </div>


        <flash-messages></flash-messages>


        <div class="modal-body">

          <form>


            <div class="row">

              <div class="col-lg-4">

                <div class="form-group">

                  <label for="firstName"> Name:</label>

                  <input type="text" class="form-control" name="name" [(ngModel)]="name">

                </div>

              </div>

              <div class="col-lg-4">

                <div class="form-group">

                  <label for="middleName">Description:</label>

                  <input type="text" class="form-control" name="description" [(ngModel)]="description">

                </div>

              </div>

              <div class="col-lg-4">

                <div class="form-group">

                  <label for="lastName">SKU:</label>

                  <input type="text" class="form-control" name="sku" [(ngModel)]="sku">

                </div>

              </div>

            </div>

            <div class="row">

              <div class="col-lg-4">

                <div class="form-group">

                  <label for="dateOfBirth">Start Date:</label>

                  <div class="input-group">

                    <input id="startDateId" readonly class="form-control" placeholder="DD-MM-YYYY" name="startDate" [(ngModel)]="startDate" ngbDatepicker
                      (click)="startdate.toggle()" #startdate="ngbDatepicker">

                    <div class="input-group-append">

                      <button class="btn btn-outline-secondary calendar" (click)="startdate.toggle()" type="button">

                        <i class="fa fa-calendar fa-2" aria-hidden="true"></i>

                      </button>

                    </div>

                  </div>

                </div>

              </div>

              <div class="col-lg-4">

                <div class="form-group">

                  <label for="dateOfBirth"> End Date:</label>

                  <div class="input-group">

                    <input id="endDateId" readonly class="form-control" placeholder="DD-MM-YYYY" name="endDate" [(ngModel)]="endDate" ngbDatepicker
                      (click)="enddate.toggle()" #enddate="ngbDatepicker">

                    <div class="input-group-append">

                      <button class="btn btn-outline-secondary calendar" (click)="enddate.toggle()" type="button">

                        <i class="fa fa-calendar fa-2" aria-hidden="true"></i>

                      </button>

                    </div>

                  </div>

                </div>

              </div>

              <div class="col-lg-4">

                <div class="form-group">

                  <label for="dateOfBirth"> Product Type:</label>

                  <select class="form-control" id="sel1" name="producttype" [(ngModel)]="producttype" (change)="dropDown(producttype)">

                    <option [ngValue]="Select" hidden selected>Select</option>

                    <option *ngFor="let values of DrodownArray">{{values.productType}}</option>


                  </select>

                </div>

              </div>

            </div>

          </form>

        </div>

        <div class="modal-footer">


          <button type="button" class="btn btn-info" (click)="addProductData(name,description,sku,startDate,endDate)">Save</button>

          <button type="button" class="btn btn-info" (click)="modal.close('Save click')" (click)="emptyValues()">Close</button>

        </div>

      </ng-template>






      
    </main>



  </div>

</div>