<div id="rightSideWrapper">
  <div class="ContentBox">
    <main>
     
      <h5 class="border_btm">User Delete</h5>
      <router-outlet></router-outlet>
      <flash-messages></flash-messages>
      
      <div class="user-delete-wrapper">
    
       
          <div class="delete_section">
          <label style="margin-top: 5px;">User Profiles:</label>
          <div class="roleValue">
            <select class="form-control form-control-sm"  [(ngModel)]="selectedrole">
              <option [selected]="Select == 'Select'" [ngValue]="select" selected>Select</option>
              <option *ngFor="let role of dropdownData">{{role}}</option>
            </select>
          </div>
          <button type="button" id="deleteProfile" class="btn btn-outline-danger" (click)="deleteProfile()">Delete</button>
        </div>

      </div>
    </main>
  </div>
</div>