<div id="rightSideWrapper">
  <div class="ContentBox" style="padding-top:3%">
    <main>
      <!-- <h5 class="text-center">WELCOME TO YOUR DASHBOARD</h5> -->
      <div class="container-fluid">
        <!-- <div class="row">
         
          <div class="col-lg-4">
            <h6>Last Day Result</h6>
              <a  href="javascript:void(0)" class="widget_one" routerLink='/subscriptions/report' data-toggle="tooltip" title="Click Me For More Info.." >
            <div style="display: block;">
              <canvas baseChart [class]="chart" [colors]="chartColors" [data]="pieChartData" [labels]="pieChartLabels" [chartType]="pieChartType"
                [options]="pieChartOptions" [plugins]="pieChartPlugins" [legend]="pieChartLegend">
              </canvas>
            </div>
            </a>
          </div>

         

        </div> -->

        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <div class="card card-stats widget_one box1"  routerLink='/subscriptions/report' data-toggle="tooltip" title="Click Me For More Info.." style="cursor: pointer;" >
                    <div class="card-body " style="min-height: 119px; font-size: 13px;">
                    <i class="fa fa-calendar-o" style="
                    position: absolute;
                    left: 8px;
                    font-size: 35px;
                    top: -38px;
                    padding: 6%;
                    background: #ff5252;
                    color: #fff;
                    border-radius: 3px;
                    box-shadow: 0 2px 9px 0 rgba(0,0,0,.2), 0 2px 13px 0 rgba(0,0,0,.19);"></i>
                        <div class="row">
                            <div class="col-12">
                                <!-- 
                                    <strong>{{success}}</strong>
                                    <strong>{{failed}}</strong>
                                 -->
                                <div class="numbers" >
                                    <p class="card-category">Sucess subscriptions - <strong>20</strong></p>
                                    <p class="card-category">Faild Orders - <strong>80</strong> </p>
                                    <!-- <h4 class="card-title">$ 1,345</h4> -->
                                </div>
                                
                            </div>
                        </div>
                    </div>
                    <div class="card-footer ">
                       
                        <div class="stats">
                            <i class="fa fa-sticky-note fa-2"></i> Last day  <strong>{{date}}</strong>
                        </div>
                    </div>
                </div>
            </div>
            
            <!-- EXECUTE SCHEDULERS SECTION -->
            <div class="col-lg-3 col-sm-6">
                <div class="card card-stats widget_one box2"  style="
                min-height: 168px;">
                    <div class="card-body" style="min-height: 116px; font-size: 13px;">
                    <i class="fa fa-line-chart" style="position: absolute;
     
    left: 8px;
    font-size: 35px;
    top: -38px;
    padding: 6%;
    background: #f4a041!important;
    color: #fff;
    border-radius: 3px;
    box-shadow: 0 2px 9px 0 rgba(0,0,0,.2), 0 2px 13px 0 rgba(0,0,0,.19);"></i>
                        <div class="row">
                            <div class="col-12">
                                <div class="numbers" >
                                    
                                    <p class="card-category">Rs : <strong>5200</strong></p>
                                    
                                  
                                    <!-- <p class="card-category">
                                        <button type="button" id="uploadbtn" class="btn btn-info" style="margin-left:10px;margin-top: 3px;"
                                        (click)="executeScheduler(1)">Subscription Batch</button>
                                        <button type="button" id="uploadbtn" class="btn btn-info" style="margin-left:10px;float:left;margin-top: 12px;"
                                        (click)="executeScheduler(2)">Renewal Batch</button>
                                    </p> -->
                                   
                                   
                                    <!-- <h4 class="card-title">$ 1,345</h4> -->
                                </div>
                               
                                
                            </div>
                        </div>
                    </div>
                    
                    <div class="card-footer ">
                            <div class="stats">
                                <i class="fa fa-sticky-note fa-2" aria-hidden="true"></i> Net Reveneue 
                            </div>
                        </div>
                    
                </div>
            </div>    

<!-- widget-3 -->
<div class="col-lg-3 col-sm-6">
                <div class="card card-stats widget_one box1"  routerLink='/subscriptions/report' data-toggle="tooltip" title="Click Me For More Info.." style="cursor: pointer;" >
                    <div class="card-body " style="min-height: 119px; font-size: 13px;">
                    <i class="fa fa-line-chart" style="position: absolute;
     
    left: 8px;
    font-size: 35px;
    top: -38px;
    padding: 6%;
    background: #417cf4!important;
    color: #fff;
    border-radius: 3px;
    box-shadow: 0 2px 9px 0 rgba(0,0,0,.2), 0 2px 13px 0 rgba(0,0,0,.19);"></i>
                        <div class="row">
                            <div class="col-12">
                                <div class="numbers" >
                                    <p class="card-category">Total - <strong>200</strong></p>
                                    <p class="card-category">Sucess - <strong>180</strong></p>
                                    <p class="card-category">Failure - <strong>20</strong></p>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                    <div class="card-footer ">
                        <div class="stats">
                            <i class="fa fa-sticky-note fa-2" aria-hidden="true"></i> Renewal Order 
                        </div>
                        
                    </div>
                </div>
            </div>
<!-- widget-4 -->
<div class="col-lg-3 col-sm-6">
                <div class="card card-stats widget_one box1"  routerLink='/subscriptions/report' data-toggle="tooltip" title="Click Me For More Info.." style="cursor: pointer;" >
                    <div class="card-body " style="min-height: 119px; font-size: 13px;">
                    <i class="fa fa-line-chart" style="position: absolute;
     
    left: 8px;
    font-size: 35px;
    top: -38px;
    padding: 6%;
    background: #91f441!important;
    color: #fff;
    border-radius: 3px;
    box-shadow: 0 2px 9px 0 rgba(0,0,0,.2), 0 2px 13px 0 rgba(0,0,0,.19);"></i>
                        <div class="row">
                            <div class="col-12">
                                <div class="numbers" >
                                    <p class="card-category">Rs : <strong>5400</strong></p>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                    <div class="card-footer ">
                        <div class="stats">
                            <i class="fa fa-sticky-note fa-2" aria-hidden="true"></i> Net Reveneue 
                        </div>
                    </div>
                </div>
            </div>
            <!-- widget-5 -->
        </div>
        <!-- dashboard end -->
        
        <div class="row" style="padding-top:5%;">
            <div class="col-lg-6">
                <div class="graph_container">
                <div class="col-lg-6" style="float:left; margin:0;">
                    <div class="form-group">
                        <label for="sel1" class="graph_heading">Duration :</label>
                        <select class="form-control form-control-sm"  id="sel2" name="sellist2" [(ngModel)]="duration" (change)="graphData1()" style="text-transform: uppercase;">
                            <option *ngFor="let x of graphperiod_data">{{x}}</option>
                        </select>
                    </div>
                </div>
            <div class="col-lg-6" style="float:left; margin:0;">
                <div class="form-group">
                    <label for="sel1" class="graph_heading">Select list (select one):</label>
                    <select class="form-control form-control-sm" id="sel1" name="sellist1" [(ngModel)]="listOption" (change)="graphData1()">
                        <option *ngFor="let y of graphtype_data">{{y}}</option>
                    
                    </select>
                </div>
            </div>
            <div style="display: block;">
                <canvas mdbChart
                    [chartType]="chartType"
                    [datasets]="chartDatasets"
                    [labels]="chartLabels"
                    [colors]="chartColors"
                    [options]="chartOptions"
                    [legend]="true"
                    >
                </canvas>
            </div>
        </div>
        </div>
<!-- (chartHover)="chartHovered($event)" -->
<!-- (chartClick)="chartClicked($event)" -->
            <div class="col-lg-6">
                    <!-- widget-5 -->
                    <div class="col-lg-6" style="float:left; margin:0;padding: 0 15px 0 0;">
                        <div class="card card-stats widget_one box1"  routerLink='/subscriptions/report' data-toggle="tooltip" title="Click Me For More Info.." style="cursor: pointer; postion:relative;" >
                           
                            <div class="card-body " style="min-height: 119px; font-size: 13px;">
                            <i class="fa fa-line-chart" style="position: absolute;
     
    left: 8px;
    font-size: 35px;
    top: -38px;
    padding: 6%;
    background: #b841f4!important;
    color: #fff;
    border-radius: 3px;
    box-shadow: 0 2px 9px 0 rgba(0,0,0,.2), 0 2px 13px 0 rgba(0,0,0,.19);"></i>
                                <div class="row">
                                    <div class="col-12">
                                        <div class="numbers" >
                                            <p class="card-category">This Month : Rs : <strong>5200</strong></p>
                                            <p class="card-category">Pervious Month : Rs : <strong>110000</strong></p>
                                            <p class="card-category">This Year : Rs : <strong>120000</strong></p>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer ">
                                <div class="stats">
                                    <i class="fa fa-sticky-note fa-2" aria-hidden="true"></i> Net Reveneue 
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- widget-6 -->
                    <div class="col-lg-6" style="float:left; margin:0;padding: 0 0px 0 15px;">
                        <div class="card card-stats widget_one box1"  routerLink='/subscriptions/report' data-toggle="tooltip" title="Click Me For More Info.." style="cursor: pointer;" >
                            <div class="card-body " style="min-height: 119px; font-size: 13px; position:relative;">
                            <i class="fa fa-pie-chart" style="position: absolute;
     
    left: 8px;
    font-size: 35px;
    top: -38px;
    padding: 6%;
    background: #f44176!important;
    color: #fff;
    border-radius: 3px;
    box-shadow: 0 2px 9px 0 rgba(0,0,0,.2), 0 2px 13px 0 rgba(0,0,0,.19);"></i>
                                <div class="row">
                                    <div class="col-12">
                                        <div class="numbers" >
                                            <p class="card-category">This Month : Rs : <strong>5200</strong></p>
                                            <p class="card-category">Pervious Month : Rs : <strong>450000</strong></p>
                                            <p class="card-category">This Year : Rs : <strong>3300000</strong></p>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer ">
                                <div class="stats">
                                    <i class="fa fa-sticky-note fa-2" aria-hidden="true"></i> Recurring Revenue 
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- <div style="display: block; height:200px;float: left;width: 100%;padding: 10px 0 0 0;">
                            <canvas mdbChart
                                [chartType]="chartType2"
                                [datasets]="chartDatasets2"
                                [labels]="chartLabels2"
                                [colors]="chartColors2"
                                [options]="chartOptions2"
                                
                                (chartHover)="chartHovered2($event)"
                                (chartClick)="chartClicked2($event)">
                            </canvas>
                    </div> -->
            </div>
        </div>


      </div>

      <!-- <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <ul class="dashboard_list">
                            <li>
                                <a  href="javascript:void(0)" routerLink='/subscriptions'>
                                  <i class="fa fa-circle-o-notch" aria-hidden="true"></i>
                                <span>Subscriptions</span>
                                </a>
                            </li>
                            <li>
                                <a  href="javascript:void(0)" class="animated bounce" routerLink='/product'>
                                  <i class="fa fa-bitbucket" aria-hidden="true"></i>
                                <span>Products</span>
                              </a>
                            </li>
                            <li>
                                <a  href="javascript:void(0)" routerLink='/usermanagement'>
                                  <i class="fa fa-user-circle" aria-hidden="true"></i>
                                <span>User Management</span>
                              </a>
                            </li>
                          </ul>
                      </div>
                </div>
              </div> -->
























      <!-- <div class="test-header" style="margin-bottom: 10px;">
              Page Size:
              <select (change)="onPageSizeChanged()" id="page-size">
                <option value="10" selected="">10</option>
                <option value="100">100</option>
                <option value="500">500</option>
                <option value="1000">1000</option>
              </select>
            </div>
      
            <ag-grid-angular #agGrid style="width: 603px; height: 100%;" id="myGrid" class="ag-theme-balham" [rowSelection]="rowSelection"
              [rowGroupPanelShow]="rowGroupPanelShow" [pivotPanelShow]="pivotPanelShow" [enableRangeSelection]="true"
              [pagination]="true" [paginationPageSize]="paginationPageSize" [paginationNumberFormatter]="paginationNumberFormatter"
              [enableSorting]="true" [enableFilter]="true" [pagination]="true" [rowData]="rowData" [columnDefs]="columnDefs"
              (gridReady)="onGridReady($event)"></ag-grid-angular> -->
    </main>

  </div>
</div>



<!-- <app-header></app-header>
<div class="page-wrapper chiller-theme toggled">
<app-sidebarnavigation></app-sidebarnavigation>
  <main class="page-content">
    <div class="container-fluid">
      
    </div>
  </main>  
  </div> -->
