<div id="rightSideWrapper">
  <div class="ContentBox">
    <main>
      <div class="container-fluid">
        <!-- <div class="row">
          <div class="col-lg-4">
            <h6>Last Day Result</h6>
              <a  href="javascript:void(0)" class="widget_one" routerLink='/subscriptions/report' data-toggle="tooltip" title="Click Me For More Info.." >
            <div style="display: block;">
              <canvas baseChart [class]="chart" [colors]="chartColors" [data]="pieChartData" [labels]="pieChartLabels" [chartType]="pieChartType"
                [options]="pieChartOptions" [plugins]="pieChartPlugins" [legend]="pieChartLegend">
              </canvas>
            </div>
            </a>
          </div>
        </div> -->

        <div class="row">
          <div class="col-lg-6 col-sm-6">
            <div class="dashboard_box">
              <div class="col-lg-6 float_left">
                <div class="card card-stats widget_one box1" routerLink='/subscriptions/report' data-toggle="tooltip"
                  title="Click Me For More Info.." style="cursor: pointer;">
                  <div class="card-body " style="min-height: 119px; font-size: 13px;">
                    <i class="fa fa-calendar-o" style="
                            position: absolute;
                            left: 8px;
                            font-size: 35px;
                            top: -38px;
                            padding: 6%;
                            background: #ff5252;
                            color: #fff;
                            border-radius: 3px;
                            box-shadow: 0 2px 9px 0 rgba(0,0,0,.2), 0 2px 13px 0 rgba(0,0,0,.19);"></i>
                    <div class="row">
                      <div class="col-12">

                        <div class="numbers">
                          <p class="card-category"><span>Success -</span> <strong>{{success}}</strong></p>
                          <p class="card-category"><span>Failure  -</span> <strong>{{failed}}</strong> </p>
                        </div>

                      </div>
                    </div>
                  </div>
                  <div class="card-footer ">

                    <div class="stats">
                      <i class="fa fa-sticky-note fa-2"></i> Last day
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 float_left">
                <div class="card card-stats widget_one box1">
                  <div class="card-body " style="min-height: 119px; font-size: 13px;">
                    <i class="fa fa-line-chart" style="
                            position: absolute;
                            left: 8px;
                            font-size: 35px;
                            top: -38px;
                            padding: 6%;
                            background: #f4a041;
                            color: #fff;
                            border-radius: 3px;
                            box-shadow: 0 2px 9px 0 rgba(0,0,0,.2), 0 2px 13px 0 rgba(0,0,0,.19);"></i>
                    <div class="row">
                      <div class="col-12">

                        <div class="numbers">
                          <p class="card-category"><span>Rs :</span> <strong>{{lastBatchRevOfNewSub}}</strong></p>
                        </div>

                      </div>
                    </div>
                  </div>
                  <div class="card-footer ">

                    <div class="stats">
                      <i class="fa fa-sticky-note fa-2" aria-hidden="true"></i> Net Revenue
                    </div>
                  </div>
                </div>
              </div>
              <strong class="heading_dashboard">New Subscriptions</strong>
            </div>
          </div>


          <!-- EXECUTE SCHEDULERS SECTION -->
          <div class="col-lg-6 col-sm-6">
            <div class="dashboard_box">
              <div class="col-lg-6 float_left">
                <div class="card card-stats widget_one box1">
                  <div class="card-body " style="min-height: 119px; font-size: 13px;">
                    <i class="fa fa-line-chart" style="position: absolute;
     
    left: 8px;
    font-size: 35px;
    top: -38px;
    padding: 6%;
    background: #417cf4!important;
    color: #fff;
    border-radius: 3px;
    box-shadow: 0 2px 9px 0 rgba(0,0,0,.2), 0 2px 13px 0 rgba(0,0,0,.19);"></i>
                    <div class="row">
                      <div class="col-12">

                        <div class="numbers">
                          <p class="card-category"><span>Total -</span> <strong>{{total_data}}</strong></p>
                          <p class="card-category"><span>Success -</span> <strong>{{success_data}}</strong></p>
                          <p class="card-category"><span>Failure -</span> <strong>{{failed_data}}</strong></p>
                        </div>

                      </div>
                    </div>
                  </div>
                  <div class="card-footer ">

                    <div class="stats">
                      <i class="fa fa-sticky-note fa-2" aria-hidden="true"></i> Renewal Order
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 float_left">
                <div class="card card-stats widget_one box1">
                  <div class="card-body " style="min-height: 119px; font-size: 13px;">
                    <i class="fa fa-line-chart" style="position: absolute;
     
    left: 8px;
    font-size: 35px;
    top: -38px;
    padding: 6%;
    background: #91f441!important;
    color: #fff;
    border-radius: 3px;
    box-shadow: 0 2px 9px 0 rgba(0,0,0,.2), 0 2px 13px 0 rgba(0,0,0,.19);"></i>
                    <div class="row">
                      <div class="col-12">

                        <div class="numbers">

                          <p class="card-category"><span>Rs :</span> <strong>{{lastBatchRevOfRenewSub}}</strong></p>
                        </div>

                      </div>
                    </div>
                  </div>
                  <div class="card-footer ">

                    <div class="stats">
                      <i class="fa fa-sticky-note fa-2" aria-hidden="true"></i> Net Revenue
                    </div>
                  </div>
                </div>
              </div>
              <strong class="heading_dashboard">Renewal Subscriptions</strong>
            </div>
          </div>




          <!-- widget-3 -->

          <!-- widget-4 -->

          <!-- widget-5 -->
        </div>
        <!-- dashboard end -->

        <div class="row" style="padding-top:3%;">
          <div class="col-lg-6">
            <div class="graph_container">
              <div class="col-lg-6" style="float:left; margin:0;">
                <div class="form-group">
                  <label for="sel1" class="graph_heading">Duration :</label>
                  <select class="form-control form-control-sm" id="sel2" name="sellist2" [(ngModel)]="duration"
                    (change)="graphData1()" style="text-transform: uppercase;">
                    <option *ngFor="let x of graphperiod_data">{{x}}</option>
                    <!-- <option>LAST MONTH</option> -->
                  </select>
                </div>
              </div>
              <div class="col-lg-6" style="float:left; margin:0;">
                <div class="form-group">
                  <label for="sel1" class="graph_heading">Select list (select one):</label>
                  <select class="form-control form-control-sm" id="sel1" name="sellist1" [(ngModel)]="listOption"
                    (change)="graphData1()">
                    <option *ngFor="let y of graphtype_data">{{y}}</option>
                    <!-- <option>ACTIVE VS CANCEL</option> -->

                  </select>
                </div>
              </div>
              <div style="display: block;text-transform: uppercase !important;">
                <canvas mdbChart [chartType]="chartType" [datasets]="chartDatasets" [labels]="chartLabels"
                  [colors]="chartColors" [options]="chartOptions" [legend]="true">
                </canvas>
              </div>
            </div>
          </div>
          <!-- (chartHover)="chartHovered($event)" -->
          <!-- (chartClick)="chartClicked($event)" -->
          <div class="col-lg-6" style="padding-top:3%;">
            <!-- widget-5 -->
            <div class="col-lg-6" style="float:left; margin:0;padding: 0 15px 0 0;">
              <div class="card card-stats widget_one box1" style="position:relative;">

                <div class="card-body " style="min-height: 119px; font-size: 13px;">
                  <i class="fa fa-line-chart" style="position: absolute;
     
    left: 8px;
    font-size: 35px;
    top: -38px;
    padding: 6%;
    background: #b841f4!important;
    color: #fff;
    border-radius: 3px;
    box-shadow: 0 2px 9px 0 rgba(0,0,0,.2), 0 2px 13px 0 rgba(0,0,0,.19);"></i>
                  <div class="row">
                    <div class="col-12">
                      <div class="numbers" style="padding-top:3%;">
                        <p class="card-category"><span>This Month : Rs :</span> <strong>{{thisMonthRevOfNewSub}}</strong></p>
                        <p class="card-category"><span>Previous Month : Rs :</span> <strong>{{lastMonthRevOfNewSub}}</strong>
                        </p>
                        <p class="card-category"><span>This Year : Rs :</span> <strong>{{thisYearRevOfNewSub}}</strong></p>
                      </div>

                    </div>
                  </div>
                </div>
                <div class="card-footer ">
                  <div class="stats">
                    <i class="fa fa-sticky-note fa-2" aria-hidden="true"></i> Net Revenue
                  </div>
                </div>
              </div>
            </div>
            <!-- widget-6 -->
            <div class="col-lg-6" style="float:left; margin:0;padding: 0 0px 0 15px;">
              <div class="card card-stats widget_one box1">
                <div class="card-body " style="min-height: 119px; font-size: 13px; position:relative;">
                  <i class="fa fa-pie-chart" style="position: absolute;
     
    left: 8px;
    font-size: 35px;
    top: -38px;
    padding: 6%;
    background: #f44176!important;
    color: #fff;
    border-radius: 3px;
    box-shadow: 0 2px 9px 0 rgba(0,0,0,.2), 0 2px 13px 0 rgba(0,0,0,.19);"></i>
                  <div class="row">
                    <div class="col-12">
                      <div class="numbers" style="padding-top:3%;">
                        <p class="card-category"><span>This Month : Rs :</span> <strong>{{thisMonthRevOfRenewSub}}</strong></p>
                        <p class="card-category"><span>Previous Month : Rs :</span> <strong>{{lastMonthRevOfRenewSub}}</strong>
                        </p>
                        <p class="card-category"><span>This Year : Rs :</span> <strong>{{thisYearRevOfNewSub}}</strong></p>
                      </div>

                    </div>
                  </div>
                </div>
                <div class="card-footer ">
                  <div class="stats">
                    <i class="fa fa-sticky-note fa-2" aria-hidden="true"></i> Recurring Revenue
                  </div>
                </div>
              </div>
            </div>
            <!-- <div style="display: block; height:200px;float: left;width: 100%;padding: 10px 0 0 0;">
                            <canvas mdbChart
                                [chartType]="chartType2"
                                [datasets]="chartDatasets2"
                                [labels]="chartLabels2"
                                [colors]="chartColors2"
                                [options]="chartOptions2"
                                
                                (chartHover)="chartHovered2($event)"
                                (chartClick)="chartClicked2($event)">
                            </canvas>
                    </div> -->
          </div>
        </div>


      </div>


























      <!-- <div class="test-header" style="margin-bottom: 10px;">
              Page Size:
              <select (change)="onPageSizeChanged()" id="page-size">
                <option value="10" selected="">10</option>
                <option value="100">100</option>
                <option value="500">500</option>
                <option value="1000">1000</option>
              </select>
            </div>
      
            <ag-grid-angular #agGrid style="width: 603px; height: 100%;" id="myGrid" class="ag-theme-balham" [rowSelection]="rowSelection"
              [rowGroupPanelShow]="rowGroupPanelShow" [pivotPanelShow]="pivotPanelShow" [enableRangeSelection]="true"
              [pagination]="true" [paginationPageSize]="paginationPageSize" [paginationNumberFormatter]="paginationNumberFormatter"
              [enableSorting]="true" [enableFilter]="true" [pagination]="true" [rowData]="rowData" [columnDefs]="columnDefs"
              (gridReady)="onGridReady($event)"></ag-grid-angular> -->
    </main>
  </div>
</div>
