<a id="show-sidebar" class="btn btn-sm btn-dark">
  <i _ngcontent-c3="" aria-hidden="true" class="fa fa-bars fa-4" style="color:#ffffff;"></i>
</a>
<nav id="sidebar" class="sidebar-wrapper">
  <div class="sidebar-content">
    <div class="sidebar-brand">
      <a>ADMIN</a>
      <div id="close-sidebar">
        <i class="fa fa-times fa-3" style="color:#ffffff;" aria-hidden="true"></i>
      </div>
    </div>
    <div class="sidebar-header">
      <div class="user-pic">
        <img class="img-responsive img-rounded" src="/assets/user.jpg"
          alt="User picture">
      </div>
      <div class="user-info">
        <span class="user-name">{{username}}</span>
        <!-- <span class="user-role">{{roleNameLogin}}</span> -->
        <span class="user-status">
          <i class="fa fa-circle"></i>
          <span>Online</span>
        </span>
        <a href="javascript:void(0)" (click)="logOut()" routerLink='/login' style="color:red;">
          <i class="fa fa-power-off"></i>
        </a>
      </div>
    </div>
    <!-- sidebar-header  -->
    <!-- sidebar-search  -->

    <div class="sidebar-menu">
<!-- side navigation code start -->
            <!-- <ul style="color:#fff">
              <li *ngFor="let f of keys()">{{f}}
                <ul>
                  <li *ngFor="let d of mappingData[f]" class="{{d}}">{{d}}</li>
                </ul>
              </li> 
            </ul>  -->
<!-- side navigation code end -->


            
       <ul>
        <li class="header-menu">
          <span>Quick Links</span>
        </li>
        <li class="sidebar-dropdown active" > 
          <a  href="javascript:void(0)" routerLink='/dashboard'>
            <i class="fa Dashboard" aria-hidden="true"></i>
          <span>Dashboard</span>
        </a>
        </li>
        <li class="sidebar-dropdown" >
          <a  href="javascript:void(0)" routerLink='/product'>
            <i class="fa Products" aria-hidden="true"></i>
          <span>Products</span>
        </a>
      <div class="sidebar-submenu">
        <ul>
          <li class="sidebar-submenu-list">
            <a href="javascript:void(0)" routerLink='/product/import'>
              <span>Import product</span></a>
          </li>
        </ul>
      </div>
    </li>     
        <li class="sidebar-dropdown" >
          <a  href="javascript:void(0)" routerLink='/subscriptions'>
            <i class="fa Subscriptions" aria-hidden="true"></i>
          <span>Subscriptions</span>
        </a>
          <div class="sidebar-submenu" routerLink='/subscriptions/report'>
            <ul>
              <li class="sidebar-submenu-list">
                <a href="javascript:void(0)">Batch Report</a>
              </li>
            </ul>
          </div>
        </li>
        <li class="sidebar-dropdown" >
            <a  href="javascript:void(0)" routerLink='/plan'>
              <i class="fa Plan" aria-hidden="true"></i>
            <span>Plan</span>
          </a>
        </li>
          
        <li class="sidebar-dropdown" >
            <a  href="javascript:void(0)" routerLink='/usermanagement'>
                <i class="fa User Management" aria-hidden="true" style="font-size: 20px;"></i>
              <span>User Management</span>
            </a>
        </li>
        <li class="sidebar-dropdown" >
            <a  href="javascript:void(0)" routerLink='/viewProfile'>
                <i class="fa User Management" aria-hidden="true" style="font-size: 20px;"></i>
              <span>User Profile</span>
            </a>
            <div class="sidebar-submenu">
              <ul>
                <li class="sidebar-submenu-list">
                  <a href="javascript:void(0)" routerLink='viewProfile/usercreate'>User Profile Create</a>
                </li>
                <li class="sidebar-submenu-list">
                    <a href="javascript:void(0)" routerLink='viewProfile/userupdate'>
                      <span>User Profile Update</span></a>
                  </li>
              </ul>
            </div>
        </li>

<!-- ravi code  -->

<!-- ravi -->


      </ul>
    </div>
    <!-- sidebar-menu  -->
  </div>
  <!-- sidebar-content  -->
 <!-- <div class="sidebar-footer">
       <a href="javascript:void(0)">
        <i class="fa fa-bell"></i>
        <span class="badge badge-pill badge-warning notification">3</span>
      </a>
      <a href="javascript:void(0)">
        <i class="fa fa-cog"></i>
        <span class="badge-sonar"></span>
      </a> 
      <a href="javascript:void(0)" (click)="logOut()" routerLink='/login'>
        <i class="fa fa-power-off"></i>
      </a>
    </div>-->
</nav>