.headerStrip{
  
    border:2px solid #bababa; 
    border-radius: 5px; 
    /* padding:0px 10px;  */
    text-transform: none; 
    /* margin-top:0px; */
    background: lightgray;
    
}

.modal-body{
    width: 100%;
  }

.dropselect{
    width: 20%;
}

.dropSelectTime{
    width:50%;
}

.dropselectCurrency{
    width:40%;
}



/* poo-up volume */
.switch {
    position: relative;
    display: inline-block;
    width: 90px;
    height: 34px;
  }
  
  .switch input {display:none;}
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #FF586B;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #0CC27E;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(55px);
    -ms-transform: translateX(55px);
    transform: translateX(55px);
  }
  
  /*------ ADDED CSS ---------*/
  .on
  {
    display: none;
  }
  
  .on, .off
  {
    color: white;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
  }
  
  .on 
  {
    left: 45%;
  }
  
  .off 
  {
    left: 55%;
  }
  
  input:checked+ .slider .on
  {display: block;}
  
  input:checked + .slider .off
  {display: none;}
  
  /*--------- END --------*/
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;}

    .modal-content{
     
      overflow: scroll !important;
    }
     .modal-body.mng .row .col-lg-12 label{ width: 20%; display: inline-block;}
     .modal-body.mng .row .col-lg-12 input{ width: 50%; display: inline-block;}
     .modal-body.mng .row .col-lg-12 .radio label{ width: 25%; display: inline-block;}
     .modal-body.mng .row .form-group{ width: 100%; display: inline-block;}
     .float-left{ float: left;}
     .modal-body.mng .row .form-group input{ max-width: 100%;}
     .volume_box{ padding: 2%; border: 2px solid #bababa; border-radius: 5px; width: 100%; display: inline-block; box-sizing: border-box;}
     .form-control{
       font-size: 12px;
     }